# usual maven artifacts
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# netbeans
nb-configuration.xml

# not sure why these get generated outside maven's target folder
installers-maven-plugin/src/main/resources/org/apache/directory/server/installers/config.ldif
core-annotations/META-INF/
core-api/META-INF/
core-avl/META-INF/
core-constants/META-INF/
core-jndi/META-INF/
core-shared/META-INF/
core/META-INF/
http-directory-bridge/META-INF/
http-integration/META-INF/
i18n/META-INF/
interceptor-kerberos/META-INF/
interceptors/admin/META-INF/
interceptors/authn/META-INF/
interceptors/authz/META-INF/
interceptors/changelog/META-INF/
interceptors/collective/META-INF/
interceptors/event/META-INF/
interceptors/exception/META-INF/
interceptors/hash/META-INF/
interceptors/journal/META-INF/
interceptors/logger/META-INF/
interceptors/normalization/META-INF/
interceptors/number/META-INF/
interceptors/operational/META-INF/
interceptors/referral/META-INF/
interceptors/schema/META-INF/
interceptors/subtree/META-INF/
interceptors/trigger/META-INF/
jdbm-partition/META-INF/
kerberos-codec/META-INF/
ldif-partition/META-INF/
mavibot-partition/META-INF/
protocol-dhcp/META-INF/
protocol-dns/META-INF/
protocol-kerberos/META-INF/
protocol-ldap/META-INF/
protocol-ntp/META-INF/
protocol-shared/META-INF/
server-annotations/META-INF/
server-config/META-INF/
server-integ/META-INF/
server-jndi/META-INF/
service-builder/META-INF/
xdbm-partition/META-INF/


